<%- include ("./partials/header.ejs") %>

<body>
  <%- include ("./partials/navbar.ejs") %>
  <div class="container">
    <h1 style="margin-top: auto;"><%= pergunta.titulo %></h1>
    <p style="margin-top: auto;"><%= pergunta.descricao %></p>
    <hr />

    <form method="POST" action="/responder">
      <h4>Responda</h4>
      <textarea
        placeholder="digite sua resposta"
        class="form-control"
        name="corpo"
        style="margin-bottom: 5px;"
      ></textarea>
      <input type="hidden" name="perguntaId" value="<%= pergunta.id %>" />
      <button type="submit" class="btn btn-primary">Responder</button>
    </form>
  </div>
</body>

<%- include ("./partials/footer.ejs") %>
