<%- include ("./partials/header.ejs") %>

<body>
  <%- include ("./partials/navbar.ejs") %>
  <div class="container">
    <h1 style="margin-top: auto;"><%= pergunta.titulo %></h1>
    <p style="margin-top: auto;"><%= pergunta.descricao %></p>
    <hr />
  </div>
</body>

<%- include ("./partials/footer.ejs") %>
